app-slots {

}
.item-inner {
  min-height: 84px;
}
ion-avatar {
  margin-right: 10px;
}

.sw-skeleton {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: SkeletonShimmer;
  animation-timing-function: linear;
  background: #ececec;
  background: linear-gradient(to right, #f7f7f7 8%, #f3f3f3 18%, #f7f7f7 33%);
  background-size: 800px 104px;
}
.sw-skeleton.text {
  height: 1.2em;
  min-width: 25%;
}
.sw-skeleton.image {
  width: 100%;
  height: 100%;
}
.sw-skeleton.image.circle {
  border-radius: 50%;
}

@keyframes SkeletonShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
